
.grid figure{
    min-width: 100%;
    max-width: 100%;
    border-radius: 2%; 
}
figure.effect-ruby h2 {
    margin-top: 10%;
    font-size: 1.5rem;
    font-weight: inherit
}
.grid {
    padding: 1em 0 0em;
    text-align: inherit
}
.span1{
    font-weight: 900
}
.span2{
    color: grey
}