<!-- <section class="contact"> -->
<!-- <h1 class="section-title">Contact Us</h1> -->
<!-- <div class="contact-contain"> -->
<section class="contact" style="margin-bottom: 50px">
    <div class="contact-content chinh">
        <div class="contact-form">
            <h2>Feel free to contact to me</h2>
            <form action="">
                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-4" />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">Name</span>
                    </label>
                </span>
                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-4" />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">Email</span>
                    </label>
                </span>
                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-4" />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">Subject</span>
                    </label>
                </span>
                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-4" />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">Massage</span>
                    </label>
                </span>
                <button class="btn-contact-submit">Submit</button>
            </form>
        </div>
    </div>
</section>