<footer class="footer">
    <div class="footer-content container">
        <div class="footer-title">
            <h1>Theo dõi thông tin</h1>
            <p>Bằng cách đăng ký vào danh sách gửi thư của chúng tôi, bạn sẽ luôn nhận được tin tức mới nhất từ ​​chúng
                tôi.</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter your email..."
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                            class="fa fa-envelope-o"></i></button>
                </div>
            </div>
        </div>
        <div class="footer-content chinh1">

            <div class="footer-item">
                <h1>Thông tin</h1>
                <ul>
                    <li>Trang Chủ</li>
                    <li>Tin Tức</li>
                    <li>Hình Ảnh</li>
                    <li>Liên Hệ</li>
                </ul>
            </div>
            <div class="footer-item1">
                <h1>Liên hệ</h1>
                <ul>
                    <li><i class="fa fa-map-marker"></i> 138 Âu Cơ, Phường 9, Quận Tân Bình</li>
                    <li><i class="fa fa-envelope"></i> info@gmail.com</li>
                    <li><i class="fa fa-phone"></i> +1234 567 567</li>
                </ul>
            </div>
        </div>

    </div>

</footer>