<div class="row dienanh " id="cumrap">
  <div class="col-md-6 dienanh1" *ngFor="let item of DanhSachDienAnh">
    <app-item-tin-tuc [Tin]="item"></app-item-tin-tuc>
  </div>
  <div class="hinhanh">
    <div class="hinhanh1 col-md-4">
      <img src="../../../../assets//img/hinh3.jpg" alt="">
      <p class="p1">Biệt đội 'thú cưng' tổng tấn công màn bạc năm nay gồm có những ai?</p>
      <p class="p2">Tưởng lạ mà quen không đấy.</p>
    </div>
    <div class="hinhanh1 col-md-4">
      <img src="../../../../assets//img/hinh4.jpg" alt="">
      <p class="p1">Vừa thoát khỏi 'mê cung', Kaya Scodelario tiếp tục chạy thục mạng vì thảm hoạ cá </p>
      <p class="p2">Lâu lắm rồi mới có phim về sinh vật này nhỉ?</p>
    </div>
    <div class="hinhanh2 col-md-4">
      <div class="anhnho mb-2">
        <div class="hinhnho mr-2">
          <img src="../../../../assets//img/nho1.jpg" alt="">
        </div>
        <div>
          <p>Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: </p>
        </div>
      </div>
      <div class="anhnho mb-2">
        <div class="hinhnho mr-2">
          <img src="../../../../assets//img/nho2.jpg" alt="">
        </div>
        <div>
          <p>Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: </p>
        </div>
      </div>

      <div class="anhnho mb-2">
        <div class="hinhnho mr-2">
          <img src="../../../../assets//img/nho3.jpg" alt="">
        </div>
        <div>
          <p>Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: </p>
        </div>
      </div>
      <div class="anhnho mb-2">
        <div class="hinhnho mr-2">
          <img src="../../../../assets//img/nho4.jpg" alt="">
        </div>
        <div>
          <p>Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: </p>
        </div>
      </div>
    </div>
  </div>
</div>