<section class="container them-phim">
  <h1 class="text-center">Thêm Phim</h1>
  <form #FormThemPhim="ngForm" (ngSubmit)="ThemPhim(FormThemPhim.value,FormThemPhim,imgPhim.files)">

    <div class="form-group">
      <input name="TenPhim" ngModel type="text" class="form-control" placeholder="Tên Phim">
    </div>

    <div class="form-group">
      <input name="Trailer" ngModel type="text" class="form-control" placeholder="Trailer">
    </div>

    <div class="form-group">
      <input name="HinhAnh" ngModel type="file" class="form-control" placeholder="Hình Ảnh" #imgPhim>
    </div>
    <div class="form-group">
      <input name="MoTa" ngModel type="text" class="form-control" placeholder="Mô Tả">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Mã Nhóm</label>
      <select class="form-control" name="MaNhom" ngModel>
        <option>GP05</option>
        <option>GP06</option>
        <option>GP07</option>
        <option>GP08</option>
        <option>GP09</option>
        <option>GP10</option>
      </select>
    </div>
    <div class="form-group">
      <input name="NgayKhoiChieu" ngModel type="text" class="form-control" placeholder="Ngày Khởi Chiếu">
    </div>
    <div class="form-group">
      <input name="DanhGia" ngModel type="text" class="form-control" placeholder="Đánh Giá">
    </div>
    <button class="btn btn-block btn-success">Thêm Phim</button>

  </form>

</section>
<table class="table container quan-ly-text">
  <thead>
    <tr>
      <th scope="col">Mã Phim</th>
      <th scope="col">Tên Phim</th>
      <th scope="col">Trailer</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <input name="search" type="text" #inputsearchadmin="ngModel" ngModel value="146"
      (keyup)="onchangeinput(inputsearchadmin)">
    <tr *ngFor="let item of DanhSachPhim">
      <th scope="row">{{item.MaPhim}}</th>
      <td>{{item.TenPhim}}</td>
      <td>{{item.Trailer}}</td>
      <td>
        <button #btnCapNhat 
          [attr.data-MaPhim]="item.MaPhim" 
          [attr.data-Trailer]="item.Trailer"
          [attr.data-TenPhim]="item.TenPhim" 
          [attr.data-HinhAnh]="item.HinhAnh" 
          [attr.data-MoTa]="item.MoTa"
          [attr.data-NgayKhoiChieu]="item.NgayKhoiChieu" 
          class="btn btn-success mr-1"
          [routerLink]="['cap-nhat-phim',item.MaPhim]"
        >Cập Nhật</button>

        <button class="btn btn-danger btn-admin-fixed " (click)="XoaPhim(item)">Xóa</button>

      </td>
    </tr>
  </tbody>
</table>