/* You can add global styles to this file, and also import other style files */
.owl-prev{
    position: absolute;
    left: -3rem;
    top: 20%;
}
.owl-prev span{
    font-size: 6rem;
}
.owl-next{
    position: absolute;
    right: -3rem;
    top: 20%;
}
.owl-next span{
    font-size: 6rem;
}
// body{
//     background: none;
// }
html {
    scroll-behavior: smooth;
}
